USE [master]
GO
/****** Object:  Database [QuanLyQuanCafe]    Script Date: 4/14/2026 10:18:29 AM ******/
CREATE DATABASE [QuanLyQuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyQuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyQuanCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyQuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyQuanCafe_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyQuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyQuanCafe]
GO
/****** Object:  Table [dbo].[bill_details]    Script Date: 4/14/2026 10:18:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NOT NULL,
	[drink_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 4/14/2026 10:18:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 4/14/2026 10:18:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drinks]    Script Date: 4/14/2026 10:18:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[image] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_otps]    Script Date: 4/14/2026 10:18:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_otps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[otp_code] [nvarchar](6) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[used] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/14/2026 10:18:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [bit] NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bill_details] ON 

INSERT [dbo].[bill_details] ([id], [bill_id], [drink_id], [quantity], [price]) VALUES (1, 1, 1, 1, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[bill_details] ([id], [bill_id], [drink_id], [quantity], [price]) VALUES (2, 1, 2, 1, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[bill_details] ([id], [bill_id], [drink_id], [quantity], [price]) VALUES (3, 2, 4, 1, CAST(35000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[bill_details] OFF
GO
SET IDENTITY_INSERT [dbo].[bills] ON 

INSERT [dbo].[bills] ([id], [user_id], [code], [created_at], [total], [status]) VALUES (1, 2, N'HD001', CAST(N'2026-04-10T16:03:12.067' AS DateTime), CAST(45000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[bills] ([id], [user_id], [code], [created_at], [total], [status]) VALUES (2, 2, N'HD002', CAST(N'2026-04-10T16:03:12.067' AS DateTime), CAST(73000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[bills] ([id], [user_id], [code], [created_at], [total], [status]) VALUES (3, 3, N'HD003', CAST(N'2026-04-10T16:03:12.067' AS DateTime), CAST(30000.00 AS Decimal(18, 2)), 2)
GO
SET IDENTITY_INSERT [dbo].[bills] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [active]) VALUES (1, N'Cà phê', 1)
INSERT [dbo].[categories] ([id], [name], [active]) VALUES (2, N'Trà sữa', 1)
INSERT [dbo].[categories] ([id], [name], [active]) VALUES (3, N'Nước ép', 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[drinks] ON 

INSERT [dbo].[drinks] ([id], [category_id], [name], [price], [image], [description], [active]) VALUES (1, 1, N'Cà phê đen', CAST(20000.00 AS Decimal(18, 2)), N'/image/61b8780474f943f48152dad38f7f99d8.png', N'Cà phê đen truyền thống', 1)
INSERT [dbo].[drinks] ([id], [category_id], [name], [price], [image], [description], [active]) VALUES (2, 1, N'Cà phê sữa', CAST(25000.00 AS Decimal(18, 2)), N'/image/efee3f6198d34df2ba6ce77c65f9f25f.png', N'Cà phê sữa đặc', 1)
INSERT [dbo].[drinks] ([id], [category_id], [name], [price], [image], [description], [active]) VALUES (3, 1, N'Bạc xỉu', CAST(28000.00 AS Decimal(18, 2)), N'/image/e69c4ed3f516434c8d498f201752cf43.png', N'Cà phê ít, sữa nhiều', 1)
SET IDENTITY_INSERT [dbo].[drinks] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [full_name], [phone], [role], [active]) VALUES (1, N'manager@cafe.vn', N'123456', N'Nguyễn Quản Lý', N'0901234567', 1, 1)
INSERT [dbo].[users] ([id], [email], [password], [full_name], [phone], [role], [active]) VALUES (2, N'nhanvien1@cafe.vn', N'123456', N'Trần Nhân Viên A', N'0912345678', 0, 1)
INSERT [dbo].[users] ([id], [email], [password], [full_name], [phone], [role], [active]) VALUES (3, N'nhanvien2@cafe.vn', N'123456', N'Lê Nhân Viên B', N'0923456789', 0, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__bills__357D4CF9C95E2827]    Script Date: 4/14/2026 10:18:29 AM ******/
ALTER TABLE [dbo].[bills] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164748FB4BE]    Script Date: 4/14/2026 10:18:29 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill_details] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[drinks] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[user_otps] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_otps] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[bill_details]  WITH CHECK ADD  CONSTRAINT [fk_billdetails_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([id])
GO
ALTER TABLE [dbo].[bill_details] CHECK CONSTRAINT [fk_billdetails_bill]
GO
ALTER TABLE [dbo].[bill_details]  WITH CHECK ADD  CONSTRAINT [fk_billdetails_drink] FOREIGN KEY([drink_id])
REFERENCES [dbo].[drinks] ([id])
GO
ALTER TABLE [dbo].[bill_details] CHECK CONSTRAINT [fk_billdetails_drink]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [fk_bills_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [fk_bills_user]
GO
ALTER TABLE [dbo].[drinks]  WITH CHECK ADD  CONSTRAINT [fk_drinks_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[drinks] CHECK CONSTRAINT [fk_drinks_category]
GO
ALTER TABLE [dbo].[user_otps]  WITH CHECK ADD  CONSTRAINT [fk_otps_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_otps] CHECK CONSTRAINT [fk_otps_user]
GO
USE [master]
GO
